.projectContent{
    margin-top: 10%;
    width: 100%;
    height: auto;
    border: 2px solid #181a1b;
    gap: 100px;
    padding: 25px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    cursor: default;
}

.h1Project{
    text-decoration: underline;
    text-decoration-color: #f36b39;
    text-decoration-thickness: 5px;
}

.project1, .project2{
    width: 40%;
    height: auto;
    background: linear-gradient(135deg, #ff8800, #e67e22);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 15px;
}

.project1, .project2 {
    position: relative;
    background: linear-gradient(to top left, #e67e22, #f39c12);
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    transition: transform 0.2s ease;
}

.project1:hover, .project2:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.projectIcon{
    width: 100px;
    height: 100px;
    background-color: #e15a2c;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.fa-snowflake, .fa-code{
    font-size: 4rem;
}

.projectTitle{
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: 700;
}

.projectDescription{
    text-align: justify;
}

.visit{
    width: auto;
    height: 50px;
    background-color: #181a1b;
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 15px;
}

.visit:hover{
    opacity: 50%;
    cursor: pointer;
}