*{
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono", monospace, sans-serif;
    box-sizing: border-box;
    font-weight: 500;
    cursor: default;
}

:root{
    --dark-primary-color: #181a1b;
    --dark-secondary-color: #f36b39;
    --dark-linear-gradient : linear-gradient(to bottom, #2c2e31 50%, #181a1b 50%);
    
    --light-primary-color: #f0f0f0;
    --light-secondary-color: #f36b39;
    --light-linear-gradient : linear-gradient(to bottom, #e0e0e0 50%, #7a7a7a 50%);
}

body{
    width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: var(--dark-linear-gradient);
    overflow-x: hidden;
    color: white;
}

.navBar{
    width: 100%;
    max-width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    margin-top: 30px;
    margin-bottom: 10px;
}

.navEl{
    margin: 35px;
    font-size: medium;
    color: #a0a0a0;
    position: relative;
}

.navEl::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    background-color: var(--dark-secondary-color);
    height: 10%;
    width: 0;
    transition: width 0.2s ease;
}

.navEl.active::after{
    width: 100%;
}

.navEl.active{
    color: white;
}

.contentDiv{
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}

.contentDiv.active{
    display: flex;
}

.content{
    width: 100%;
}

.pic{
    width: 200px;
    height: 200px;
    border: 2px solid white;
    box-shadow: 0px 0px 5px -1px white;
    margin: 40px;
    background-image: url('./../luffy.jpg');
    filter: brightness(130%);
    background-size: cover;
    background-position: center;
}

.hi{
    font-size: 2rem;
    font-weight: 600;
}

.whoAmI{
    text-align: center;
    margin-top: 25px;
}

.fa-sun{
    display: none;
}

.fa-moon, .fa-sun{
    font-size: 1.3rem;
}

.fa-moon, .fa-sun:hover{
    cursor: pointer;
}
